﻿@model ReklamoTv.Web.ViewModels.ReferanceFormViewModel
@{
    ViewBag.Title = "Referans güncelleme";
}



<link href="assest/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="assest/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<br />
<div class="page-bar">
    <ul class="page-breadcrumb">

        <li>
            <span>Referans</span>
        </li>
    </ul>

</div>
<br />
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <h1 class="page-title">
                    Referans
                </h1>

            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReferanceTitle)
                                @Html.EditorFor(model => model.ReferanceTitle, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus" } })
                                @Html.ValidationMessageFor(model => model.ReferanceTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description)
                            @Html.TextAreaFor(model => model.Description, new { @tabindex = "4", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, " ", new { @class = "text-danger" })

                        </div>

                        <div class="form-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Referanceİmage)
                                @Html.HiddenFor(model => model.Referanceİmage)

                               
                                <form id="form1" runat="server">
                                    <input type='file' id="FileName" name="upload" />
                                    <img id="ReferanceId" src="#" alt="your image" style="max-width: 200px; max-height: 150px;" />
                                </form>
                            </div>
                        </div>
                        

                        <div class="form-actions">
                            <button type="submit" class="btn blue">Ekle</button>
                            <button type="button" class="btn default" onclick="window.location='@Url.Action("Index","Referance")';">İptal</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>

</div>
<!-- END SAMPLE FORM PORTLET-->
<!-- BEGIN SAMPLE FORM PORTLET-->

@section Scripts {
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ReferanceId').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#FileName").change(function () {
            readURL(this);
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
