﻿@model ReklamoTv.Web.ViewModels.ReferanceViewModel
@{
    ViewBag.Title = "Düzenle";
}


<link href="assest/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="assest/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<br />
<div class="page-bar">


</div>
<br />
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered" style="
             width 442px;">
            <div class="portlet-title">
                <h1 class="page-title">Düzenle</h1>

            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ReferanceId)
                            <div class="form-body">

                                @Html.LabelFor(model => model.Referanceİmage)
                                @Html.EditorFor(model => model.Referanceİmage, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.Referanceİmage, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">

                                @Html.LabelFor(model => model.ReferanceTitle)
                                @Html.EditorFor(model => model.ReferanceTitle, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.ReferanceTitle, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">

                                @Html.LabelFor(model => model.Description)
                                @Html.TextAreaFor(model => model.Description, new { @tabindex = "4", @class = "form-control spinner" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>



                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue">Kaydet</button>
                            <button type="button" class="btn default" onclick="window.location='@Url.Action("Index","Referance")';">İptal</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>

</div>
<!-- END SAMPLE FORM PORTLET-->
<!-- BEGIN SAMPLE FORM PORTLET-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




