﻿@model ReklamoTv.Web.ViewModels.ContactFormViewModel
@{
    ViewBag.Title = "İletişim Güncelle";
}

<link href="assest/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="assest/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<br />
<div class="page-bar">
    <ul class="page-breadcrumb">

        <li>
            <span>İletişim</span>
        </li>
    </ul>

</div>
<br />
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <h1 class="page-title">
                    İletişim Güncelle
                </h1>

            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactAdress)
                                @Html.EditorFor(model => model.ContactAdress, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus" } })
                                @Html.ValidationMessageFor(model => model.ContactAdress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactPhone)
                                @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus" } })
                                @Html.ValidationMessageFor(model => model.ContactPhone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstEMail)
                            @Html.TextAreaFor(model => model.FirstEMail, new { @tabindex = "4", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FirstEMail, " ", new { @class = "text-danger" })
                        </div>
                        <div class="form-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SecondEMail)
                                @Html.TextAreaFor(model => model.SecondEMail, new { @tabindex = "4", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SecondEMail, " ", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SkypeAdress)
                                @Html.TextAreaFor(model => model.SkypeAdress, new { @tabindex = "4", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SkypeAdress, " ", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FacebookAdress)
                                    @Html.TextAreaFor(model => model.SkypeAdress, new { @tabindex = "4", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SkypeAdress, " ", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TwitterAdress)
                                    @Html.TextAreaFor(model => model.TwitterAdress, new { @tabindex = "4", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TwitterAdress, " ", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LinkedAdress)
                                    @Html.TextAreaFor(model => model.LinkedAdress, new { @tabindex = "4", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LinkedAdress, " ", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GoogleAdress)
                                    @Html.TextAreaFor(model => model.GoogleAdress, new { @tabindex = "4", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.GoogleAdress, " ", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Latitude)
                                    @Html.TextAreaFor(model => model.Latitude, new { @tabindex = "4", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Latitude, " ", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Longtitude)
                                @Html.TextAreaFor(model => model.Longtitude, new { @tabindex = "4", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Longtitude, " ", new { @class = "text-danger" })
                            </div>
                        </div>

                            <div class="form-actions">
                                <button type="submit" class="btn blue">Ekle</button>
                                <button type="button" class="btn default" onclick="window.location='@Url.Action("Index","Contact")';">İptal</button>
                            </div>
                    </form>
                </div>
            }
        </div>
    </div>

</div>
<!-- END SAMPLE FORM PORTLET-->
<!-- BEGIN SAMPLE FORM PORTLET-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


