﻿@model ReklamoTv.Web.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Düzenle";
}
<link href="assest/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="assest/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<br />
<div class="page-bar">


</div>
<br />

<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered" style=
              width 442px;">
            <div class="portlet-title">
                <h1 class="page-title">Düzenle</h1>

            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ContactId)
                            <div class="form-body">

                                @Html.LabelFor(model => model.ContactAdress)
                                @Html.EditorFor(model => model.ContactAdress, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.ContactAdress, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-body">

                                @Html.LabelFor(model => model.ContactPhone)
                                @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.ContactPhone, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">

                                @Html.LabelFor(model => model.FirstEMail)
                                @Html.EditorFor(model => model.FirstEMail, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.FirstEMail, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">

                                @Html.LabelFor(model => model.SecondEMail)
                                @Html.EditorFor(model => model.SecondEMail, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.SecondEMail, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-body">

                                @Html.LabelFor(model => model.FacebookAdress)
                                @Html.EditorFor(model => model.FacebookAdress, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.FacebookAdress, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">

                                @Html.LabelFor(model => model.LinkedAdress)
                                @Html.EditorFor(model => model.LinkedAdress, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.LinkedAdress, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">

                                @Html.LabelFor(model => model.SkypeAdress)
                                @Html.EditorFor(model => model.SkypeAdress, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.SkypeAdress, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">

                                @Html.LabelFor(model => model.TwitterAdress)
                                @Html.EditorFor(model => model.TwitterAdress, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.TwitterAdress, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">

                                @Html.LabelFor(model => model.GoogleAdress)
                                @Html.EditorFor(model => model.GoogleAdress, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.GoogleAdress, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">

                                @Html.LabelFor(model => model.Latitude)
                                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">

                                @Html.LabelFor(model => model.Longtitude)
                                @Html.EditorFor(model => model.Longtitude, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.Longtitude, "", new { @class = "text-danger" })
                            </div>

                        @*</div>*@
                        <div class="form-actions">
                            <button type="submit" class="btn blue">Kaydet</button>
                            <button type="button" class="btn default" onclick="window.location='@Url.Action("Index","Contact")';">İptal</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>

</div>
<!-- END SAMPLE FORM PORTLET-->
<!-- BEGIN SAMPLE FORM PORTLET-->
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    }