﻿@model ReklamoTv.Web.ViewModels.AboutUsViewModel
@{
    ViewBag.Title = " Düzenle ";
}
<link href="assest/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="assest/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<br />
<div class="page-bar">

</div>
<br />
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered" style="width 422px;">
            <div class="popover-title">
                <h1 class="page-title"> Düzenle</h1>

            </div>
            <div class="row">
                <div class="col-lg-12">

                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="portlet-body form">
                        <form role="form">
                            <div class="form-group">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.AboutId)
                                <div class="form-body">
                                    @Html.LabelFor(model => model.AboutTitle)
                                    @Html.EditorFor(model => model.AboutTitle, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus" } })
                                    @Html.ValidationMessageFor(model => model.AboutTitle, "", new { @class = "text-danger" })
                                </div>
                            
                                <div class="form-body">
                                    @Html.LabelFor(model => model.Description)
                                   <br/>
                                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    @*<textarea  metin  cols="10 "rows="5"> </textarea> <br/>*@
                                </div>
                                
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn blue">Ekle</button>
                                <button type="button" class="btn default" onclick="window.location='@Url.Action("Index","AboutUs")';">İptal</button>
                            </div>
                        </form>
                    </div>
                }

            </div>
        </div>

    </div>

</div>
<!-- END SAMPLE FORM PORTLET-->
<!-- BEGIN SAMPLE FORM PORTLET-->
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
