﻿@model ReklamoTv.Web.ViewModels.NewsViewModel
@{
    ViewBag.Title = "Düzenle";
}

<link href="assest/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="assest/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<br />
<div class="page-bar">


</div>
<br />
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered" style=" width 442px;">
            <div class="portlet-title">
                <h1 class="page-title">Düzenle</h1>

            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.NewsId)
                            <div class="form-body">
                                @Html.LabelFor(model => model.Description)
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">
                                @Html.LabelFor(model => model.NewsTitle)
                                @Html.EditorFor(model => model.NewsTitle, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus" } })
                                @Html.ValidationMessageFor(model => model.NewsTitle, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">
                                @Html.LabelFor(model => model.NewsSpot)
                                @Html.EditorFor(model => model.NewsSpot, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus" } })
                                @Html.ValidationMessageFor(model => model.NewsSpot, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">
                                @Html.LabelFor(model => model.StartTime)
                                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">
                                @Html.LabelFor(model => model.ExpiryTime)
                                @Html.EditorFor(model => model.ExpiryTime, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.ExpiryTime, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-body">
                                @Html.LabelFor(model => model.NewsTime)
                                @Html.EditorFor(model => model.NewsTime, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.NewsTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue">Kaydet</button>
                            <button type="button" class="btn default" onclick="window.location='@Url.Action("Index","News")';">İptal</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>

</div>
<!-- END SAMPLE FORM PORTLET-->
<!-- BEGIN SAMPLE FORM PORTLET-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




